*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    
}
.container{
    display: flex;
    justify-content:space-evenly;
    align-items:center;
    background-color: #131221;
    height: 100vh;
}
.card{
    width: 250px;
    height: 300px;
    border: 2px solid #131221;
    border-radius: 16px;
    position: relative;
    overflow: hidden;
}
img{
    height: 100%;
}
.descrip{
    position: absolute;
    top: 250px;
    padding: 5px;
    background-color: rgb(128, 128, 128);
}
.card:hover .descrip{
    top:150px;
    transition:0.5s;
    transition-timing-function: linear;
}